<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
    <link rel="stylesheet" href="media/templates/style.css">
    <style>
        h1 {
            color: green;
            font-family: Arial, Helvetica, sans-serif;
            font-size: larger;
        }

        <!-- button {
            background-color: rebeccapurple;
            color: #fff;
            border: none;
            border-radius: 20px;
            padding: 15px 30px;
            cursor: pointer;
        } -->
    </style>
</head>
<body>
    <h1>Nội dung template</h1>
    <button>Click me</button>
    <!-- <img src="../media/b2av2cP.jpeg" alt="" srcset=""> -->
</body>
</html>

<!-- static  -->